# Q1 - Regression analysis: MLB

Conduct an analysis to determine the impact of MLB payroll and wins above replacement statistics (i.e., WAR) on a team's regular season rank position. In particular, use Ordinary Least Squares (i.e. OLS) to estimate the following two model specifications:


(1): $rank_{s,t} = \beta_0 + \beta_1 ln(Playroll_{s,t}) + \epsilon_{s,t} $

(2): $rank_{s,t} = \beta_0 + \beta_1 ln(Playroll_{s,t}) + \beta_2 WAR_{s,t} + \epsilon_{s,t} $

Interpret the regression results of each equation.

In [9]:
import os
import sys
import pandas
import numpy
import matplotlib
import matplotlib.pyplot as plt
%matplotlib notebook

import statsmodels.api as sm

pandas.set_option('display.notebook_repr_html', True)
pandas.set_option('display.max_columns', 40)
pandas.set_option('display.max_rows', 25)
pandas.set_option('precision', 4)

In [10]:
dm = pandas.read_csv('MLBSeasonTeamPayroll.csv')
dm = dm.drop(['Start Pay'], axis=1)
dm = dm.rename(columns={'End Pay': 'Payroll'})
dm = dm.rename(columns={'End Rank': 'Rank'})
dm.head()

  Team  Year     Payroll  Rank  OWAR  DWAR  PWAR   WAR
0  ARI  2014  1.0812e+08    17  14.1   1.2   2.9  18.2
1  ARI  2013  9.0205e+07    20  18.8   7.3   4.7  30.8
2  ARI  2012  7.7163e+07    23  19.2   2.0  14.4  35.6
3  ARI  2011  6.5604e+07    24  20.3   6.5   8.0  34.8
4  ARI  2010  7.0531e+07    25  14.7   2.5   0.1  17.3