## In-class homework quiz
* Add markdown and code cells to answer the following question.
* Use of class notes and internet searches are permittied.
* Collaboration is not permitted
* Duration: 30 minutes.
* Upload notebook file (ipynb) to LMS.
* Solutions are graded on analysis (4) and code development (5).
* Restart the kernel and run all cells prior to submission.

### Question 1
Consider the following application of Bayes' rule to calculate the conditional probability that a shot results in a goal given the score differential state,

$$p(g_s| X_s) = \frac{p(X_s|g_s) p(g_s)}{ p(X_s | g_s) p(g_s) +  p(X_s | \overline{g_s}) p( \overline{g_s}) }$$

where $X_s$ is the score differential from -3 to -3.

### Question 1a
Explain following terms:
* $p\left( g_s| X_s \right)$
* $p\left( g_s \right)$
* $p\left( \overline{g_s} \right)$
* $p\left( X_s|g_s \right)$
* $p\left( X_s| \overline{g_s} \right)$

### Question 1b
Use Bayes Rule to calculate the conditional probabilities that a shot results in a goal given a team is leading by two or more goals.

In [7]:
%matplotlib inline
import os
import sys
import pandas
import numpy
import matplotlib
import matplotlib.pyplot as plt

pandas.set_option('display.notebook_repr_html', True)
pandas.set_option('display.max_columns', 20)
pandas.set_option('display.max_rows', 25)
pandas.options.display.float_format = '{:,.2f}'.format

In [11]:
dm = pandas.read_csv('shots.csv')
dm = dm[['season', 'gamenumber', 'eventnumber', 'period', 'eventtimefromzero', 'tgoals', 'ogoals', 'eventtype', 'shotType']]
dm.head()

,season,gamenumber,eventnumber,period,eventtimefromzero,tgoals,ogoals,eventtype,shotType
0,2011,20001,4,1,47,0,0,SHOT,Snap
1,2011,20001,9,1,114,0,0,SHOT,Snap
2,2011,20001,14,1,138,0,0,SHOT,Snap
3,2011,20001,25,1,249,0,0,SHOT,Slap
4,2011,20001,29,1,297,0,0,SHOT,Wrist